<div class="container container-fluid">
  <main class="main-content p-5" role="main">
    <div class="row">
      <h2>Over deze app</h2>
    </div>
    <div class="row">
      <p>
        Deze app is gemaakt om te gebruiken bij improvisatie-trainingen -optredens en -wedstrijden. Ze kan titels genereren, maar ook suggesties geven voor improvisatieoefeningen of voor een rafale.
      </p>
      <p>
        Deze app was oorspronkelijk een grappig experimentje op een obscuur webadres. Daarna is de app verder uitgewerkt en verplaatst naar een makkelijker webadres.
      </p>
      <p>
        Er wordt intussen gewerkt aan verbeteringen en uitbreidingen. Bijvoorbeeld wordt het algoritme om titels te genereren regelmatig verbeterd of uitgebreid.
      </p>
      <p>
        Deze app is constant in ontwikkeling. Imperfecties zullen er dus altijd zijn. Die mogen gemeld worden. Mail hiervoor naar <a href="mailto:info@improapp.be">info@improapp.be</a>.
      </p>
    </div>
  </main>
</div>
