<div class="container container-fluid">
  <main class="main-content p-5" role="main">
    <div class="row">
      <h2>Over deze app</h2>
    </div>
    <div class="row">
      <p>
        Deze app is gemaakt om te gebruiken bij improvisatie-trainingen -optredens en -wedstrijden. Ze kan titels genereren, maar ook suggesties geven voor improvisatieoefeningen of voor een rafale.
      </p>
      <p>
        Ze was oorspronkelijk een grappig experimentje op een obscuur webadres. Daarna is de app verder uitgewerkt en verplaatst.
        Er wordt intussen gewerkt aan verbeteringen en uitbreidingen, bijvoorbeeld aan het algoritme om titels te genereren.
      </p>
      <p>
        Deze app is constant in ontwikkeling. Imperfecties zullen er dus altijd zijn. Die mogen gemeld worden. Mail hiervoor naar <a href="mailto:info@improapp.be">info@improapp.be</a>.
      </p>
    </div>
    <div class="row">
      <h2>Hoe werkt de titelmaker?</h2>
    </div>
    <div class="row">
      De titelmaker genereert titels door woorden volgens een algoritme met mekaar te combineren. Dit resulteert in soms van de pot gerukte, maar soms ook geniale titels. Door verbeteringen aan te brengen aan het algoritme, zal het aantal surrealistische titels moeten afnemen (hoewel zo eentje nu en dan moet kunnen), en het aantal geniale titels toenemen.
    </div>
      <p>
  </main>
</div>
