<div class="container container-fluid">
  <main class="main-content p-5" role="main">
    <div class="row">
      <h2>Feedback</h2>
    </div>
    <div class="row">
      <p>Een slechte titel? Een geniale titel? Een spellingsfoutje? Een handige functie die de app nog mist? Een bug? een lelijke layout? een ongebruiksvriendelijke functie? Je wil me vertellen waarvoor je de app gebruikt? Of iets anders dat je wil melden? Laat het me weten. Feedback wordt enorm gewaardeerd, zowel de positieve als de negatieve. Op die manier kunnen de app en de titels alleen maar beter worden.</p>
      <p>Ook als het gaat over gebruiksvriendelijkheid, bijvoorbeeld voor blinden, dan is feedback zeer welkom. Op dat vlak laat de app zeker nog wat te wensen over.</p>
      <p>Mail naar <a href="mailto:info@improapp.be">info@improapp.be</a>.</p>
    </div>
  </main>
</div>
