<div class="container container-fluid">
  <main class="main-content p-5" role="main">
    <div class="row">
      <h2>Feedback</h2>
    </div>
    <div class="row">
      <p>Een slechte titel? Een geniale titel? Een spellingsfoutje? Een handige functie die de app nog mist? Een bug? een lelijke layout? een ongebruiksvriendelijke functie? Of iets anders? Laat het me weten. Feedback wordt enorm gewaardeerd, zowel de positieve als de negatieve. Op die manier kunnen de app en de titels alleen maar beter worden.</p>
      <p>e-mail adres binnenkort beschikbaar</p>
    </div>
  </main>
</div>
