
  <div class="row mb-4">
    <div class="col-md-12">
      <div class="color-controls-1">
        <div class="btn-group btn-group-custom-radio simplefilter color-controls-1">
          <button type="button" class="btn btn-green btn-gradient waves-effect waves-light" (click)="genereerSuggestie()"><span class="gradient">Maak titel</span></button>
          <button type="button" class="btn btn-yellow btn-gradient waves-effect waves-light" (click)="reset()"><span class="gradient">Maak leeg</span></button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-4" *ngIf="gegenereerdeTitel">
      <div class="card bg-danger bg-gradient mb-3 text-center">
        <div class="card-body">
          <div class="tile-left">
            <i class="batch-icon batch-icon-speech-bubble-left-tip batch-icon-xxl"></i>
          </div>
          <p class="gegenereerd-item">{{gegenereerdeTitel}}</p>
          <footer>Titel</footer>
        </div>
      </div>
    </div>
    <div class="col-md-12 mb-4" *ngIf="gekozenCategorie">
      <div class="card bg-primary bg-gradient mb-3 text-center">
        <div class="card-body">
          <div class="tile-left">
            <i class="batch-icon batch-icon-quill batch-icon-xxl"></i>
          </div>
          <p class="gegenereerd-item">{{gekozenCategorie}}</p>
          <footer>Categorie</footer>
        </div>
      </div>
    </div>
    <div class="col-md-12 mb-4" *ngIf="bepaaldeDuur">
      <div class="card bg-secondary bg-gradient mb-3 text-center">
        <div class="card-body">
          <div class="tile-left">
            <i class="batch-icon batch-icon-alarm-clock batch-icon-xxl"></i>
          </div>
          <p class="gegenereerd-item">{{bepaaldeDuur}}</p>
          <footer>Duur</footer>
        </div>
      </div>
    </div>
  </div>
