<div class="container container-fluid">
  <main class="main-content p-5" role="main">
    <div class="row">
        <h2>Gebruikstips</h2>
    </div>
    <div class="row">
      <p>
        Hier kan je enkele manieren vinden waarop je deze app kan gebruiken. Gebruik je hem toch nog voor iets anders, ga je gang, maar zorg dat de politie het niet ziet. Laat me ook gerust weten via <a href="mailto:info@improapp.be">info@improapp.be</a> op welke manier je de app gebruikt,
        dan voeg ik de tip hier eventueel toe, of ik laat me inspireren voor nog meer functies voor de app.
      </p>
    </div>
    <hr>
    <div class="row">
      <h3>Titelmaker</h3>
    </div>
    <div class="row">
      <h4>Impro match</h4>
    </div>
    <div class="row">
    <p>In een echte match, of match tijdens een training kan je een titel, categorie en duur genereren. Verdeel je groep in 2 ploegen, en speel scenes aan de hand van de titels, speelduren en categorieën die de app genereert.
        Je kan natuurlijk voor je begint beslissen om bepaalde gegevens te negeren, zoals de duur of de categorie. Je kan ook zelf de duur of categorie kiezen als je op een bepaald onderdeel aan het trainen bent, of een match in een bepaald thema speelt.
        Als je rekening houdt met de duur, dan moet er iemand zijn die de tijd in de gaten houdt.</p>
    </div>
    <div class="row">
      <h4>Impro scene</h4>
    </div>
    <div class="row">
      <p>Speel een scene tijdens een training of optreden, alleen of in groep, aan de hand van de gegenereerde titel, categorie en speelduur. Ook hier kan je weer beslissen om bepaalde gegevens te negeren of zelf in te vullen.</p>
    </div>
    <div class="row">
      <h4>Liedje</h4>
      <p>Zing een liedje met als titel de gegenereerde titel. De categorie en duur kan je hier negeren. Je kan dit in je eentje doen, of je kan dit in groep doen door ieder een strofe te laten zingen, met eventueel een gezamenlijk refrein.</p>
    </div>
    <div class="row">
      <h4>Verhaal</h4>
      <p>Vertel een verhaal met als titel de gegenereerde titel. Je kan dit alleen doen, maar dit kan ook in groep. Iedereen kan om de beurt een zin zeggen. Wat ook kan is dat er 1 persoon is die aanwijst wie moet verder vertellen. 1 persoon begint dan te vertellen,
        en zodra iemand anders wordt aangewezen, stopt de huidige verteller met praten en vertelt de aangewezen persoon hetzelfde verhaal verder. Zodra weer iemand anders wordt aangewezen gaat die persoon verder.</p>
    </div>
    <div class="row">
      <h4>Wie, wat, waar?</h4>
    </div>
    <div class="row">
      <p>Verzin tijdens een training aan de hand van de titel en categorie (die je eventueel kan negeren) een personage, handeling en locatie.</p>
    </div>
    <hr>
    <div class="row">
      <h3>Woordenspammer</h3>
    </div>
    <div class="row">
      <h4>Rafale</h4>
    </div>
    <div class="row">
      <p>Tijdens een training of optreden kan je een rafale doen. Dit wil zeggen dat iedereen om de beurt een scene van 1 minuut speelt (of iets anders doet zoals iets vertellen of zingen) met betrekking tot een gegeven woord.
        Zodra een persoon aan de beurt is kan je een woord genereren via de app. Onmiddellijk daarna begint de speler te spelen. Iemand moet de tijd in de gaten houden en de scene stilleggen na 1 minuut. Eventueel kan er aangegeven worden wanneer er nog maar 10 seconden te gaan zijn.
      </p>
    </div>
    <div class="row">
      <h4>Associëren</h4>
    </div>
    <div class="row">
      <p>Tijdens een training kan je woorden genereren, alleen of in groep, waarmee je telkens een opgelegd aantal (dat ook 1 kan zijn) associaties met dit woord moet geven.</p>
    </div>
    <div class="row">
      <h4>Disassociëren</h4>
    </div>
    <div class="row">
      <p>Tijdens een training kan je woorden genereren, alleen of in groep, waarmee je telkens een opgelegd aantal (dat ook 1 kan zijn) woorden moet geven die niets met dit woord of met mekaar te maken hebben.</p>
    </div>
    <div class="row">
      <h4>Rijmen</h4>
    </div>
    <div class="row">
      <p>Tijdens een training, alleen of om de beurt in groep, kan je woorden genereren waarvoor je telkens een opgelegd aantal (dat ook 1 kan zijn) rijmwoorden voor dit woord moet geven.</p>
    </div>
    <div class="row">
      <h4>Combinatie: associëren, rijmen</h4>
    </div>
    <div class="row">
      <p>Tijdens een training, alleen of om de beurt in groep met telkens een ander woord, kan je woorden genereren waarvoor je telkens 2 associaties moet geven, met telkens een rijmwoord per associatie.</p>
    </div>
    <hr>
    <div class="row">
      <h3>Suggereerder</h3>
    </div>
    <div class="row">
      <h4>Beroep</h4>
    </div>
    <div class="row">
      <p><b>Uitspraken</b>Verzin per gegenereerd beroep een opgelegd aantal mogelijke uitspraken van mensen met dat beroep.</p>
      <p><b>Handelingen</b>Verzin per gegenereerd beroep een opgelegd aantal mogelijke handelingen van mensen met dat beroep.</p>
      <p><b>Locaties</b>Verzin per gegenereerd beroep een opgelegd aantal mogelijke locaties voor mensen met dat beroep.</p>
    </div>
    <div class="row">
      <h4>Locatie</h4>
    </div>
    <div class="row">
      <p><b>Uitspraken: </b>Verzin per gegenereerde locatie een opgelegd aantal mogelijke uitspraken van mensen op die locatie.</p>
      <p><b>Decor: </b>Zet in groep een decor neer dat de gegenereerde locatie voorstelt.</p>
      <p><b>Handelingen: </b>Verzin per gegenereerde locatie een opgelegd aantal mogelijke handelingen van mensen op die locatie.</p>
      <p><b>Personages: </b>Verzin per gegenereerde locatie een opgelegd aantal mogelijke personages op die locatie.</p>
      <p><b>Scene: </b>Speel een scene die zich afspeelt op de gegenereerde locatie.</p>
    </div>
    <div class="row">
      <h4>Onbestaande woorden</h4>
    </div>
    <div class="row">
      <p><b>betekenissen: </b>Verzin per gegenereerd onbestaand woord, de betekenis voor dat woord. Dit hoeft niets te maken te hebben met woorden waar het onbestaande woord op lijkt of aan doet denken.</p>
    </div>
    <hr>
    <div class="row">
      <h3>Bulk-generator</h3>
    </div>
    <div class="row">
      <p>Heb je dringend grote aantallen opdrachten nodig voor een training, wedstrijd, of optreden. Genereer dan massa's titels ineens via de bulk generator. Schrijf ze over op kaartjes indien dit jullie manier van werken is.</p>
    </div>
  </main>
</div>
