<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    improapp.be
  </a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-3" aria-controls="navbarSupportedContent-3" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarSupportedContent-3" style="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="activeIfPageIs('titelmaker')">
        <a class="nav-link waves-effect waves-light" routerLink="/"
           (click)="setChosenPage('titelmaker')"
           data-toggle="tooltip" data-placement="bottom" title="Genereer titels met een categorie en duur">
          Titelmaker
          <span *ngIf="chosenPageIs('titelmaker')" class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [ngClass]="activeIfPageIs('woordenspammer')">
        <a class="nav-link waves-effect waves-light" routerLink="/woordenspammer"
           (click)="setChosenPage('woordenspammer')"
           data-toggle="tooltip" data-placement="bottom" title="Genereer woorden voor een rafale">
          Woordenspammer
          <span *ngIf="chosenPageIs('woordenspammer')" class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [ngClass]="activeIfPageIs('suggereerder')">
        <a class="nav-link waves-effect waves-light" routerLink="/suggereerder"
           (click)="setChosenPage('suggereerder')"
           data-toggle="tooltip" data-placement="bottom" title="Genereer suggesties voor personages, voorwerpen, emoties en locaties">
          Suggereerder
          <span *ngIf="chosenPageIs('suggereerder')" class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [ngClass]="activeIfPageIs('bulkgenerator')">
        <a class="nav-link waves-effect waves-light" routerLink="/bulkgenerator"
           (click)="setChosenPage('bulkgenerator')"
           data-toggle="tooltip" data-placement="bottom" title="Genereer grote aantallen titels tegelijk">
          Bulkgenerator
          <span *ngIf="chosenPageIs('bulkgenerator')" class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [ngClass]="activeIfPageIs('overdezeapp')">
        <a class="nav-link waves-effect waves-light" routerLink="/overdezeapp"
           (click)="setChosenPage('overdezeapp')"
           data-toggle="tooltip" data-placement="bottom" title="Krijg informatie over de app">
          Over deze app
          <span *ngIf="chosenPageIs('overdezeapp')" class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [ngClass]="activeIfPageIs('feedback')">
        <a class="nav-link waves-effect waves-light" routerLink="/feedback" data-toggle="tooltip" data-placement="bottom"
           (click)="setChosenPage('feedback')" title="Geef feedback over de app">Feedback
          <span *ngIf="chosenPageIs('feedback')" class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
