<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    improapp.be
  </a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-3" aria-controls="navbarSupportedContent-3" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarSupportedContent-3" style="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-effect waves-light" routerLink="/"
           data-toggle="tooltip" data-placement="bottom" title="Genereer titels met een categorie en duur">
          Titelmaker
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" routerLink="/woordenspammer"
           data-toggle="tooltip" data-placement="bottom" title="Genereer woorden voor een rafale">
          Woordenspammer
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" routerLink="/suggereerder"
           data-toggle="tooltip" data-placement="bottom" title="Genereer suggesties voor personages, voorwerpen, emoties en locaties">
          Suggereerder
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" routerLink="/bulkgenerator"
           data-toggle="tooltip" data-placement="bottom" title="Genereer grote aantallen titels tegelijk">
          Bulkgenerator
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" routerLink="/overdezeapp"
           data-toggle="tooltip" data-placement="bottom" title="Krijg informatie over de app">
          Over deze app
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" routerLink="/feedback" data-toggle="tooltip" data-placement="bottom" title="Geef feedback over de app">Feedback</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
